* {
	/* grid system */
	margin: 0;
	padding: 0;
	--gap: 
	/* Color vars */
	--main-padding: 5px;  
	--titanium: rgb(30, 33, 40);
	--sea: rgb(27, 163, 42);
	--watermelon: rgb(220, 74, 74);
	--shadow: rgb(9, 10, 14);  
	--ash: rgb(248, 248, 248);
}

body {
	font-family: 'Zilla Slab', serif;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
	list-style-type: none;
}
li i span {
	color: var(--ash);
}
img {
	max-width: 100%;
}

/* CONTAINER */
.container {

}

/* GRID */
.grid {
	display: grid;
}

/* NAV-BAR */
.nav-bar {
	/* height: 100vh; */
	display: grid;
	height: 64px;
	align-items: center;
	grid-template-columns: 16px 1fr 1fr 16px;
	grid-template-areas: 
	". nav-logo navigation .";
}
.nav-logo {
	grid-area: nav-logo;
	justify-items: start;
}
.navigation {
	grid-area: navigation;
	justify-self: end;
}

/* LAND-PAGE */
.land-page {
	display: grid;
	justify-content: start;
	align-items: center;
	grid-template-columns: 16px 1fr 16px;
	/* grid-template-rows: 260px; */
	grid-template-areas:
	". call-out ."
	". call-btn .";
}
.call-out {
	grid-area: call-out;
	padding: 4px;
}
.call-btn {
	grid-area: call-btn;
}
.my-btn.call-btn {
	border: 2px solid var(--sea);
	border-radius: 4px;
	background: var(--sea);
	color: var(--ash);
	font-size: 1.6em;
	padding: 0.2em;
	cursor: pointer;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.my-btn.call-btn:hover {
	background: var(--ash);
	color: var(--sea);
}

.private-link {cursor: not-allowed;}

/* PROJECTS */
/* .projects {
	display: grid;
} */

.proj-card {
	background-color: var(--ash);
	padding: 16px;
	display: grid;
	justify-content: start;
	align-items: center;
	grid-template-columns: 1fr;
	/* grid-template-rows: 260px; */
	grid-template-areas:
	"p1-desc"
	"p1-img";
}
.proj-img {
	align-content: end;
	box-shadow: 2px 2px 16px 8px rgba(0, 0, 0, 0.2);
}
.proj-desc {
	grid-area: p1-desc;
	justify-content: start;
}
#p1-img {	grid-area: p1-img; }
#p2-img {	grid-area: p2-img; }
#p3-img {	grid-area: p3-img; }
#p1-desc {	grid-area: p1-desc; }
#p2-desc {	grid-area: p2-desc; }
#p3-desc {	grid-area: p3-desc; }

/* ABOUT */
.about {

}

/* CONTACT */
.contact {
	background: var(--titanium);
	color: var(--shadow);
	display: grid;
	grid-gap: 32px;
	justify-items: center;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
	"goodbyes"
	"contact-pic"
	"contact-info"
	"call-btn";
}
.goodbyes {
	color: var(--ash);
	grid-area: goodbyes;
	align-self: start;
	padding: 24px;
}
.contact-pic {
	grid-area: contact-pic;
}
#profile-pic {
	border-radius: 50%;
}

.contact-info {
	grid-area: contact-info;
}

/* FOOTER */
.footer {
	color: var(--ash);
	width: 100%;
	text-align: center;
	background-color: var(--shadow);
	text-align: center;
	padding: 10px 5px;
}

.fas,.fab {
	color: var(--sea);
	padding: var(--main-padding);
}

.icon {
  font-size: 24px;
	color: var(--titanium);
}
.icon span {
	font-family: 'Courier New', Courier, monospace;
	color: var(--titanium);
}

.contact-icon{
	color: var(--ash);
}

.icon:hover {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	color: var(--sea);
}

	/* TOOLTIP */
	.tooltip {
		position: relative;
		display: inline-block;
	}
	.tooltip .tooltiptext {
		/* font-size: 0.33em; */
		visibility: hidden;
		width: 120px;
		background-color: var(--titanium);
		color: var(--ash);
		text-align: center;
		padding: 5px 0;
		border-radius: 4px;
	
		/* Position */
		position: absolute;
		z-index: 1;
		width: 120px;
		top: 120%;
		left: 50%;
		margin-left: -60px;
	}
	/* Show tooltip */
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
/* //////////////////////////////// */
/* DESKTOP VERSION */
@media screen and (min-width: 800px)
{
	.nav-bar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 360px 360px 1fr;
		grid-template-areas: ". nav-logo navigation ."
	}

	.land-page {
		grid-area: land-page;
		display: grid;
		justify-content: center;
		/* place-items: center center; */
		grid-template-columns: 1fr 360px 360px 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
		". call-out call-btn .";
	}

	.proj-card {
		padding: 64px;
		grid-column: 1 / 3;
		display: grid;
		grid-gap: 32px;
		justify-content: center;
		justify-items: center;
		align-items: start;
		grid-template-columns: 1fr 360px 360px 1fr;
		grid-template-areas: 
		". p1-img p1-desc ."
		". p2-desc p2-img ."
		". p3-img p3-desc .";
	}

	.contact {
		background: var(--titanium);
		color: var(--shadow);
		display: grid;
		grid-gap: 32px;
		justify-items: center;
		align-items: center;
		grid-template-rows: 80px auto 80px;
		grid-template-columns: 1fr 360px 360px 1fr;
		grid-template-areas:
		". goodbyes goodbyes ."
		". contact-pic contact-info ."
		". . call-btn .";
	}

	#profile-pic {
		width: 256px;
		height: 256px;
	}
}